@charset "UTF-8";

/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Exo, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  background-image: url(../media/wallpaper-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* --------------------------------------------------------------------------------------------------------------- */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* --------------------------------------------------------------------------------------------------------------- */

header {
  background-color: #000000a1;
  padding: 10px;
}

.top-informative {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    color: rgb(252, 192, 0);
  }
}

/* --------------------------------------------------------------------------------------------------------------- */

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px;

  .logo img {
    padding-bottom: 60px;
  }

  h1 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -1px;
    opacity: 1;
    text-transform: uppercase;
    padding-bottom: 50px;
    color: rgb(252, 192, 0);
  }

  h3 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -1px;
    opacity: 1;
    text-transform: uppercase;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
  }

  .redes-sociales {
    padding: 10px;
    color: rgb(252, 192, 0);

    i {
      font-size: 40px;
    }
  }

  /* --------------------------------------------------------------------------------------------------------------- */

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;

    a {
      margin: 5px;
      padding: 14px;
      color: #393939;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0);
      background-image: linear-gradient(rgb(252, 192, 0), rgb(254, 135, 0));
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }
  }
}

/* --------------------------------------------------------------------------------------------------------------- */

.discord {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #0000004b;
  color: white;
  border-radius: 4px;
  padding: 14px;

  i {
    font-size: 70px;
  }

  a {
    color: #393939;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(252, 192, 0), rgb(254, 135, 0));
    font-weight: 600;
    padding: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}

/* --------------------------------------------------------------------------------------------------------------- */

.show-disenos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  .card-disenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    max-width: 100%;
    padding: 40px;
    background-image: url(../media/wallpaper-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border: 1px solid rgba(255, 255, 255, 0.11);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .card-disenos img {
    height: 300px;
    object-fit: contain;
  }

  h3 {
    color: rgb(254, 135, 0);
    max-width: 100%;
    margin-top: 80px;
    font-weight: 600;
  }
}

.showmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;

  a {
    text-align: center;
    width: 290px;
    color: #393939;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(252, 192, 0), rgb(254, 135, 0));
    font-size: 20px;
    font-weight: 600;
    padding: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}

/* --------------------------------------------------------------------------------------------------------------- */

.quiensoy-titulo {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  margin-top: 120px;

  h2 {
    font-size: 70px;
      font-weight: 800;
      letter-spacing: -1px;
      opacity: 1;
      text-transform: uppercase;
      padding-bottom: 50px;
      color: rgb(255, 255, 255);
  }

  p {
    color: rgb(255, 255, 255);
    width: 450px;
  }
}

.quiensoy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

/* --------------------------------------------------------------------------------------------------------------- */

footer {
  margin-top: 120px;
  text-align: center;
  background-color: #0000004b;
  color: rgb(252, 192, 0);
}
